.preloader
	.preloader__background

	.container.preloader__container
		img.preloader__image(
			src=`${baseDir}images/png/overly-excited-dude.png`
			alt="Чувак, стремящийся в космос."
			)

		span.preloader__percentage
			| 0%