-
	const data = {
		header: {
			links: {
				logo: 'https://ninelines.agency/',
			},
			menu: [
				{
					url: '#about-me',
					name: 'О себе'
				},

				{
					url: '#experience',
					name: 'Опыт работы'
				},

				{
					url: '#skills',
					name: 'Навыки'
				}
			]
		},

		share: {
			caption: 'Поделиться:',
			list: ['fb', 'tw', 'vk', 'ok'],
		},

		home: {
			title: 'гид&nbsp;по <br><span class="for-desktop">бережному</span><span class="for-devices">общению</span>',
			read: 'Читать',
		},

		modal: {
			close: 'Закрыть',
		},

		about: {
			name: 'Артур Шаков',
			position: 'Middle Front-end разработчик (HTML-верстальщик)',
			text: 'Как разработчик, я&nbsp;высоко ценю способность воплотить видение дизайнера в&nbsp;жизнь, что считаю очень полезным для бизнеса. Я&nbsp;получаю огромное удовлетворение, наблюдая за&nbsp;работой от&nbsp;идеи до&nbsp;дизайна, особенно когда она появляется в&nbsp;руках пользователя. Я&nbsp;считаю, что ориентированные на&nbsp;пользователя решения являются наиболее ценными цифровыми ресурсами будущего.'
		},

		jobs: [
			{
				date: 'Июль 2019',
				title: 'Freelance Designer',
				stones: [
					'purple',
					'yellow',
					'blue'
				],
				location: 'Netherlands, Worldwide',
				description: 'Available for a project or job in UX/UI, Visual and Product design.',
				links: [
					{
						url: '#',
						name: 'Commercial tryouts',
					},
					{
						url: '#',
						name: 'Personal projects',
					}
				]
			},

			{
				date: 'Январь 2017 - Сентябрь 2018',
				title: 'Digital Designer',
				stones: [
					'blue',
					'rose'
				],
				logo: 'logo-jcs.png',
				company: 'J Creative Solutions',
				location: 'Digital agency in Minsk, Belarus',
				description: 'Created visuals for digital marketing channels such as social media, promo web and online ads. Developed visual language from scratch or following the branding guidelines. Designed presentations for clients and indoor purposes.',
				links: [
					{
						url: '#',
						name: 'Agency projects',
					}
				]
			},

			{
				date: 'Март 2014 - Февраль 2017',
				title: 'SEO Specialist → Lead SEO Specialist',
				stones: [
					'orange',
					'blue'
				],
				logo: 'logo-oz.png',
				company: 'OZ.by',
				location: 'Online bookstore in Minsk, Belarus',
				description: 'Improved website performance and user experience of the biggest online bookstore OZ in Belarus, being a part of the marketing team, I interpreted Google Analytics data to IT, content and marketing colleagues. Advised on tech and content optimization strategy, automated processes, provided reports, increased organic traffic up to 150%.',
				links: [
					{
						url: '#',
						name: 'Annual company report 2016',
					}
				]
			},

			{
				date: 'Август 2012 - Ноябрь 2013',
				title: 'Content Specialist',
				stones: [
					'orange',
				],
				logo: 'logo-21vek.png',
				company: '21vek.by',
				location: 'E-commerce store in Minsk, Belarus',
				description: 'Added and modified the product information, prepared images and text for the website, developed categories filters, ensure all info is correct in the catalogue with the goal of improving online shopper experience.',
			},

			{
				date: 'Август 2011 - Ноябрь 2014',
				title: 'Software Support Engineer',
				stones: [
					'green',
				],
				logo: 'logo-integral.svg',
				company: 'Integral',
				location: 'Microelectronics factory in Minsk, Belarus',
				description: 'Supported retail accounting system LS Trade, troubleshoot technical problems.',
			},
		],

		courses: [
			{
				stones: [
					'purple',
					'blue',
					'yellow',
				],
				name: 'Interface Design:<br>Web \u0026\u00a0Mobile',
				description: 'IT-Academy, 2020',
			},

			{
				stones: ['yellow'],
				name: `Fundamentals of\u00a0Usability`,
				description: 'Skillshare, Oct 2018',
			},

			{
				stones: ['rose'],
				name: `CG\u00a0Artist`,
				description: `Polygon CG School,<br>May-Sep 2017`,
			},

			{
				stones: ['blue'],
				name: 'Graphic Design',
				description: 'Belarusian State Academy of\u00a0Arts, 2015\u00a0\u2014 2017 Postgraduate Diploma',
			},

			{
				stones: ['orange'],
				name: 'SEO Specialist',
				description: 'ARTOX Media,<br>Jun-Aug 2012',
			},

			{
				stones: ['green'],
				name: 'Information Technology Software',
				description: 'Belarusian State University of\u00a0Informatics and Radioelectronics, 2011\u00a0\u2014 2015<br>Bachelor\u2019s degree',
			},
		],

		skills: [
			{
				name: 'Adobe Creative Suite',
				description: 'Photoshop, Illustrator, InDesign, XD, After Effects'
			},

			{
				name: 'Prototyping',
				description: 'Sketch, Figma, InVision, Marvel, Principle, Balsamiq'
			},

			{
				name: 'Additional',
				description: 'HTML, CSS, Google Analytics, Keynote, Miro'
			},

			{
				name: 'Languages',
				description: 'Conversational English and Native Russian'
			},
		]
	};

script.
	window.data = {
		home: !{JSON.stringify(data.home)},
	};
